/* === СТИЛИ ДЛЯ DROPDOWN ВЫБОРА ТИПА РАБОТЫ === */
.ai-agent-worktype-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.ai-agent-select-work {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 46.62vh;
    height: 3.552vh;
    border-radius: 0.666vh;
    padding: 0.444vh 1.332vh;
    background: #31404F;
    backdrop-filter: blur(1.776vh);
    cursor: pointer;
    gap: 0.888vh;
}

.ai-agent-select-work span {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.554vh;
    line-height: 2.664vh;
    color: #5FAFFF;
}

.worktype-dropdown {
  position: absolute;
  z-index: 10000;
  display: none;
  flex-direction: column;
  gap: 1.332vh;
  padding: 0.888vh 0.888vh 1.78vh;
  background-color: #292C30;
  border: 0.222vh solid #3F4246;
  border-radius: 1.78vh;
  box-shadow: 0.444vh 0 0.444vh 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 66.055vh;
  bottom: calc(100% - 4.44vh);
  left: 50%;
  transform: translate(-50%, 0);
}

.worktype-dropdown.active {
  display: flex;
}

.worktype-dropdown-input {
  display: flex;
  align-items: center;
  gap: 2.22vh;
  padding: 0.888vh 1.332vh;
  background-color: #3F4246;
  border-radius: 0.666vh;
  border: none;
  outline: none;
}

.worktype-dropdown-input input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.554vh;
  line-height: 1.714;
  color: #D0D0D1;
  min-width: 0;
}

.worktype-dropdown-input input::placeholder {
  color: #A9ABAC;
}

.worktype-dropdown-icon {
  width: 2.664vh;
  height: 2.664vh;
  flex-shrink: 0;
}

.worktype-dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 0.444vh;
  max-height: 33.3vh;
  overflow-y: auto;
  scrollbar-color: #3F4246 #292C30;
  scrollbar-width: thin;
}

.worktype-dropdown-list::-webkit-scrollbar {
  width: 0.444vh;
}

.worktype-dropdown-list::-webkit-scrollbar-track {
  background: #292C30;
  border-radius: 0.222vh;
}

.worktype-dropdown-list::-webkit-scrollbar-thumb {
  background: #3F4246;
  border-radius: 0.222vh;
}

.worktype-dropdown-list::-webkit-scrollbar-thumb:hover {
  background: #505357;
}

.worktype-dropdown-item {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.554vh;
  line-height: 2.664;
  color: #A9ABAC;
  height: 2.664vh;
  display: flex;
  align-items: center;
  padding: 0.444vh 1.332vh;
  cursor: pointer;
}

.worktype-dropdown-item:hover {
  background-color: rgba(95, 175, 255, 0.1);
  border-radius: 0.666vh;
}


.worktype-category {
  color: #D0D0D1;
  padding: 0.444vh 0.888vh;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.776vh;
  line-height: 2.664vh;
}